.item img {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 50%;
}
.item:hover img {
  transform: scale(1.1);
  transition: all 0.2s;
}
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
}
